 div.card
            h3 Cleaner
            div.card-box
                div.card-img
                    img(src="/static/img/1.jpg")
                div.card-content
                    p Trained, punctual & verified housekeepers for everyday home cleaning!
        div.card
            h3 Cooks & Chefs 
            div.card-box
                div.card-img
                    img(src="/static/img/2.jpg")
                div.card-content
                    p Choose between basic home-style, fancy or chef-style cooking at affordable rates!
        div.card
            h3 Babysitter 
            div.card-box
                div.card-img
                    img(src="/static/img/3.jpg")
                div.card-content
                    p  Experienced babysitters and japa for all your child-care needs!