
@import url('https://fonts.googleapis.com/css?family=Yeon+Sung|ZCOOL+QingKe+HuangYou&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    
}

#logo{
    display: flex;
    color: white;
    align-items: center;
    margin: 0 14px;
    font-size: 28px;
    margin-right: 40px;
}

#logo img{
height: 120px;
    filter: invert(1);
}


#navbar{
    background-color: #8f3bd4;
    padding: 18px 14px;
    font-family: 'Yeon Sung' ;
}
#navbar ul{
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    
}

#navbar li{
    list-style: none;
}

#navbar li a{
    color: white; 
    font-size: 47px;
    text-decoration: none;
    padding: 13px 20px;
}

#navbar li a:hover{
    color: black;  
}

#introSection{
    padding-bottom: 40px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'ZCOOL QingKe HuangYou';
    font-size: 65px;
    align-items: center;
    /*background: center/cover no-repeat url("https: //www.clipartmax.com/png/small/214-2144940_ribbon-banner-shape-svg-png-icon-circle.png") ;*/
    height: 425px;
    background-color:#8f3bd4;
}
#introSection div.small{
    font-size: 52px;
    padding: 5px;
}


#missionSection{
    height: 326px;; 
    width: 67%;
    margin: auto;
    
}
#missionSection h2 {
    background-color: #8f3bd4;
    border-radius: 0px 0px 50px 50px;
    font-size: 36px;
    color: white;
    font-family: 'Yeon Sung';
    text-align: center;
    padding-top: 12px;
}

#missionSection h2{
    font-size: 36px;
    font-family: 'Yeon Sung' ;
    text-align: center;
    padding-top: 12px;
}

.card {
    display: inline-block;
    /* border: 2px solid black; */
    box-shadow: 3px 4px 15px 7px;
    border-radius: 86px 0px 74px 0px;
    width: 30%;
    margin: 9px;
    height: 294px;
    font-size: 34px;
    margin: 22px;
    box-shadow: -1px 3px 11px 4px black;
    color: white;
    font-family: monospace;
    background: cornflowerblue;
}
.card h3{
    text-align: center;
    margin: 0 12px;
    margin-top: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

.card-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-img{
    height: 131px;
    padding: 0 14px;
    margin: 5px 9px;
}
.card-img img {
    border-radius: 14%;
    box-shadow: -1px 1px 9px 3px black;
    height: 203px;
    width: 156px;}


.card-content{
    padding: 0 10px;
}

.card-content p{
    font-size: 19px;
}
#sponsorsSection{
    height: 300px;
    background-color: #fbd6d6c7;
    
}
.col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
    margin-top: 36px;
    margin-bottom: 21px;
}
#sponsorsSection h2{
    font-size: 36px;
    font-family: 'Yeon Sung' ;
    text-align: center;
    padding-top: 12px;
}

#footer{
    background-color: black;
    height: 100px;

}
.section-header h3 {
    font-size: 36px;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    font-weight: 500;
    position: relative;
}

.section-header p {
    text-align: center;
    margin: auto;
    font-size: 15px;
    padding-bottom: 60px;
    color: #556877;
    width: 50%;
}
.section-header {
    background:#8f3bd4;
    color: white;
    border-radius: 58px;
    height: 93px;
    margin-top: 32px;
    margin-bottom: 69px;
    padding-top: 7px;
}
#clients {
    padding: 60px 0;

}
.client-logo {
    box-shadow: 10px 20px 30px 3px;
}
.img-fluid {
    max-width: 221px;
    height: 66px;
}


#clients .client-logo {
    padding: 64px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-right: 1px solid #d6eaff;
    border-bottom: 1px solid #d6eaff;
    overflow: hidden;
    background: #fff;
    height: 160px;
}

#clients img {
    transition: all 0.4s ease-in-out;
}
.social-link {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 0.9rem;
}

.social-link:hover,
.social-link:focus {
    background: #ddd;
    text-decoration: none;
    color: #555;
}