doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    script(src='https://kit.fontawesome.com/bdd89edb33.js')
    link(href='https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900', rel='stylesheet')
    link(rel='stylesheet', href='css/style.css')
    title Flipping Cards
  body
    section#section-plans.section-plans
      
      .row
        .col-1-of-3
          .card
            .card__side.card__side--front-1
              .card__title.card__title--1
                i.fas.fa-paper-plane
                h4.card__heading Basic
              .card__details
                ul
                  li 1 Website
                  li 50 GB SSD Storage
                  li Unmetered Bandwidth
                  li Free SSL Certificate
                  li 1 Included Domain
                  li 1 Included Domain
            .card__side.card__side--back.card__side--back-1
              .card__cta
                .card__price-box
                  p.card__price-only Only
                  p.card__price-value $2.95/mo*
                a.btn.btn--white(href='#popup') Select
        .col-1-of-3
          .card
            .card__side.card__side--front-2
              .card__title.card__title--2
                i.fas.fa-plane
                h4.card__heading Plus
              .card__details
                ul
                  li Includes Basic Package Features
                  li Unlimited Websites
                  li Unlimited SSD Storage
                  li Unlimited Domains
                  li Unlimited Parked Domains
                  li Unlimited Sub Domains
            .card__side.card__side--back.card__side--back-2
              .card__cta
                .card__price-box
                  p.card__price-only Only
                  p.card__price-value $5.45/mo*
                a.btn.btn--white(href='#popup') Select
        .col-1-of-3
          .card
            .card__side.card__side--front-3
              .card__title.card__title--3
                i.fas.fa-rocket
                h4.card__heading Pro
              .card__details
                ul
                  li Includes Plus Plan Features
                  li High Performance
                  li 2 Spam Experts
                  li Free SSL Certificate
                  li Domain Privacy
                  li Site Backup - CodeGuard Basic
            .card__side.card__side--back.card__side--back-3
              .card__cta
                .card__price-box
                  p.card__price-only Only
                  p.card__price-value $13.95/mo
                a.btn.btn--white(href='#popup') Select
      .u-center-text.u-margin-top-huge
        a.btn.btn--green(href='#') Get Started